global:
  image: {}
  openfaas: {}

# image setting loadding order: (from higher priority to lower priority)
# - Values.image.x
# - Values.global.image.x
# - Values.defaultImage.x
# You can set `imagePullSecret` value to `false` (bool) to reset the value (see example below)

image: 
  name: "magda-function-template"
  # repository: 
  # tag: 
  # pullPolicy: 
  # imagePullSecret: 

defaultImage:
  repository: docker.io/data61
  tag: 0.0.57-0
  pullPolicy: IfNotPresent
  imagePullSecret: false

resources:
  requests:
    cpu: 50m
    memory: 30Mi
  limits:
    cpu: 100m

# Set a list of secrets that pass to function
# Secrets are accessible from `/var/openfaas/secrets/<secret-name>` as file
# secrets:
# - secret-name-1
# - secret-name-2